@import "tailwindcss";



@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8fafc;
  /* Slate-50 */
  --foreground: #0f172a;
  /* Slate-900 */
}

.dark {
  --background: #0f172a;
  /* Slate-900 */
  --foreground: #f8fafc;
  /* Slate-50 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}